<!doctype html>
<html ng-app>
  <head>

    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <div class="main" ng-controller="t9">
        <div class="message">
          <h1>{{message}}</h1>
          <div class="word_chooser_container"><div class="word_chooser" ng-repeat="word in words">
                <span class="word_choice" ng-click="selectWord($event)" data-word="{{word}}">{{word}}</span>
            </div></div>
        </div>
        <div class="row">
          <div class="large-4 large-centered columns buttons">
          
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="1">1<br>clr</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="2">2<br>abc</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="3">3<br>def</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="4">4<br>ghi</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="5">5<br>jkl</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="6">6<br>mno</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="7">7<br>pqrs</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="8">8<br>tuv</button>
            <button class="number large-4 small-4 columns" ng-click="handleNumber($event)" data-number="9">9<br>wxyz</button>
            <button class="number large-12 columns" ng-click="handleNumber($event)" data-number="0">0</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
    <script src="t9.js"></script>
  </body>
</html>
